<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="football, youth league, sports">
        <title>Loyal Order of Youth League Athletes</title>
        <link href="./css/bracket.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
    </head>

    <script> 
        $(function(){
          $("#header").load("header.html"); 
          $("#footer").load("footer.html"); 
        });
      </script> 

    <body>
        <div id="header"></div>

        <main>
            <h1>Playoff Bracket</h1>
    <div class="bracket-container">
        <!-- Round 1 -->
        <div class="round" id="round1">
            <div class="matchup">
                <div class="team" onclick="pickWinner(this, 'match1-winner')">Team A</div>
                <div class="team" onclick="pickWinner(this, 'match1-winner')">Team B</div>
            </div>
            <div class="matchup">
                <div class="team" onclick="pickWinner(this, 'match2-winner')">Team C</div>
                <div class="team" onclick="pickWinner(this, 'match2-winner')">Team D</div>
            </div>
        </div>
        <!-- Round 2 -->
        <div class="round" id="round2">
            <div class="matchup">
                <div class="team" id="match1-winner">Winner A/B</div>
                <div class="team" id="match2-winner">Winner C/D</div>
            </div>
        </div>
        <!-- Final Round -->
        <div class="round" id="final-round">
            <div class="matchup">
                <div class="team" id="final-winner">Tournament Winner</div>
            </div>
        </div>
    </div>
    <script src="../../src/Bracket.js"></script>
        </main>

        <div id="footer"></div>
    </body>
</html>


