<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/view/css/header_footer.css">
    </head>
    <body>
        <div class="site">
            <div class="header">
                <img src="../view/images/profile.png">
                <h1>Loyal Order of Youth League Athletes</h1>
                <p>page</p>
            </div>
            <main>
                Calendar
            </main>
            <div class="footer">
                <h1>Loyal Order of Youth League Athletes</h1>
                <p>contact info</p>
            </footer>
        </div>
    </body>
</html>