<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="football, youth league, sports">
        <title>Loyal Order of Youth League Athletes</title>
        <link href="./css/main.css" rel="stylesheet" type="text/css">
        <link href="./css/popup.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <header>
            <img src="./images/logo.png" href="index.html">
            <h1> Loyal Order of Youth League Athletes </h1>
            <div class="topnav">
                <a href="calendar.html">Calendar</a>
                <a href="team.html">Team</a>
                <a href="profile.html">Profile</a>
                <a href="login.html">Login</a>
                <a href="register.html">Register</a>
                <a href="photos.html">Photos</a>
                <a href="coach.html">Coach Account</a>
                <a href="comms.html">Comms</a>
            </div>
        </header>

        <main>
            <h2>Team Communications</h2>
            <form id="messageForm" onsubmit="event.preventDefault(); postMessage();">
                <label for="messageBody">Message</label>
                <textarea id="messageBody" name="messageBody" rows="4" required></textarea>

                <button type="submit">Send Message</button>
            </form>

            <p id="confirmationMessage" style="display: none; color: green;">Message sent successfully!</p>
            <button class="refresh-btn" onclick="viewMessages()">View Messages</button>
            <div id="messageList"></div>
        </main>
            
        <footer>
            <p>
                Loyal Order of Youth League Athletes
                <br>
                contact info
            </p>
        </footer>
        <script src="./src/CommsFrontend.js"></script>
    </body>
</html>

