<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="football, youth league, sports">
        <title>Loyal Order of Youth League Athletes</title>
        <link href="./css/main.css" rel="stylesheet" type="text/css">
    </head>

    <header>
        <a href="index.html"><img src="./images/logo.png"></a>
        <h1> Loyal Order of Youth League Athletes </h1>
        <div class="topnav">
            <a href="calendar.html">Calendar</a>
            <a href="team.html">Team</a>
            <a href="profile.html">Profile</a>
            <a href="login.html">Login</a>
            <a href="register.html">Register</a>
            <a href="photos.html">Photos</a>
            <a href="coach.html">Coach Account</a>
            <a href="comms.html">Comms</a>
            <a href="bracket.html">Bracket</a>
            <!--<a href="comms.html">
                <img src="./images/message.png" alt="Comms" height="50px" width="50px">-->
        </div>
    </header>
    
</html>