<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="football, youth league, sports">
        <title>Loyal Order of Youth League Athletes</title>
        <link href="./css/main.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <img src="./images/logo.png" href="index.html">
            <h1> Loyal Order of Youth League Athletes </h1>
            <div class="topnav">
                <a href="calendar.html">Calendar</a>
                <a href="team.html">Team</a>
                <a href="profile.html">Profile</a>
                <a href="login.html">Login</a>
                <a href="register.html">Register</a>
                <a href="photos.html">Photos</a>
            </div>
        </header>

        <main>
            <form method="post" action="login">
                <label for="login_id">Email or Username:</label><br>
                <input type="text" id="login_id" name="login_id"><br>
                <label for="login_pass">Password:</label><br>
                <input type="password" id="login_pass" name="login_pass"><br><br>
                <input type="submit" value="Submit">
            </form>
        </main>

        <footer>
            <p>
                Loyal Order of Youth League Athletes
                <br>
                contact info
            </p>
        </footer>
    </body>
</html>

