<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="football, youth league, sports">
        <title>Loyal Order of Youth League Athletes</title>
        <link href="./css/main.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <img src="./images/logo.png" href="index.html">
            <h1> Loyal Order of Youth League Athletes </h1>
            <div class="topnav">
                <a href="calendar.html">Calendar</a>
                <a href="team.html">Team</a>
                <a href="profile.html">Profile</a>
                <a href="login.html">Login</a>
                <a href="register.html">Register</a>
                <a href="photos.html">Photos</a>
                <a href="coach.html">Coach Account</a>
                <a href="comms.html">Comms</a>
            </div>
        </header>

            <main>
                <h1>Mongo File Uploads</h1>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="custom-file mb-3">
                        <input type="file" name="file" id="file">
                        <label for="file">Choose File</label>
                    </div>
                    <input type="submit" value="submit" class="btn btn-primary btn-block">
                </form>
            </main>

        <footer>
            <p>
                Loyal Order of Youth League Athletes
                <br>
                contact info
            </p>
        </footer>
    </body>
</html>

