<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="football, youth league, sports">
        <title>Loyal Order of Youth League Athletes</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
    </head>

    <script> 
        $(function(){
          $("#header").load("header.html"); 
          $("#footer").load("footer.html"); 
        });
    </script> 

    <body>
        <div id="header"></div>

        <main>
            <div id="usercheck">
                Hello, 
            </div>
        </main>

        <div id="footer"></div>
        <script type='text/javascript' onerror="alert('error!')">
            async function checkLoggedUser(){
                let response = await fetch('/loggeduser');
                let user =  await response.json();
                
                if(user != null){
                    document.getElementById("usercheck").innerHTML += ` ${user}`;
                }else{
                    document.getElementById("usercheck").innerHTML += ` Guest`
                }
}
        checkLoggedUser();
        </script>
    </body>
</html>

