<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="football, youth league, sports">
        <title>Loyal Order of Youth League Athletes</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!-- Bootrap Icons for the Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">        
        <link href="./css/main.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="header"></div>

        <main>
            <div class="container" style="width: 80%;">
            <!-- Intro -->
            <div class="row pt-5 justify-content-center align-items-center">
                <div class="col-auto border rounded mx-auto d-flex" style="width: 128px; height: 128px;">
                    <img src="./images/logo.png" alt="LOYLA Logo" class="img-fluid rounded" style="max-width: 100%; max-height: 100%; object-fit: cover;">
                </div>
                <div class="col ps-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <h5>Name:</h5> <p class="user_name">Placeholder</p>
                            </div>
                            <div class="col-6">
                                <h5>Team:</h5> <p class="user_team">Placeholder</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h5>Account Type:</h5> <p class="user_acctype">Placeholder</p>
                            </div>
                            <div class="col" datagroup="youth">
                                <h5>Position:</h5> <p class="user_position">Placeholder</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col">
                    <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">

                        <li class="nav-item" id="profile-accinfo-tab">
                            <a id="profile-accinfo-link" class="nav-link active" aria-current="true" href="#">Account Info</a>
                        </li>
                        <li class="nav-item" id="profile-gamestats-tab" style="display: none;">
                            <a id="profile-gamestats-link" class="nav-link" href="#">Game Stats</a>
                        </li>
                        <li class="nav-item" id="profile-actions-tab">
                            <a id="profile-actions-link" class="nav-link" href="#">Actions</a>
                        </li>
                        </ul>
                    </div>
                    
                    <!-- Account Info -->
                    <div class="card-body" id="profile-accinfo">
                        <h1 class="card-title">WORK IN PROGRESS</h1>
                    </div>

                    <!-- Game Stats -->
                    <div class="card-body" id="profile-gamestats" style="display: none;">
                        <h5 class="card-title" style="font-weight:300;">
                            <button class="btn"><</button>
                            Winter 2025
                            <button class="btn">></button>
                        </h5>
                        <h5 class="card-title pt-1" style="text-decoration: none;">Average Performance per Game</h5>
                        <div class="container pt-3"><div class="row justify-content-center align-items-center">
                            <div class="col-auto"><div class="card border-0" style="width: 128px; height: 128px;">
                                <h5 class="card-title" style="color: p;">Touchdowns</h5>
                                <h1>1</h1>
                            </div></div>

                            <div class="col-auto"><div class="card border-0" style="width: 128px; height: 128px;">
                                <h5 class="card-title">Tackles</h5>
                                <h1>1</h1>
                            </div></div>

                            <div class="col-auto"><div class="card border-0" style="width: 128px; height: 128px;">
                                <h5 class="card-title">Interceptions</h5>
                                <h1>1</h1>
                            </div></div>
                        </div></div>
                        

                        <h5 class="card-title"> Game Performance</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Game</th>
                                <th scope="col">Touchdowns</th>
                                <th scope="col">Tackles</th>
                                <th scope="col">Interceptions</th>
                                </tr>
                            </thead>
                            <tbody id="youth-gamestats-tbody">
                                <!-- Youth games they played in will be populated here -->
                            </tbody>
                        </table>
                    </div>

                    <!-- Actions -->
                    <!-- Admin -->
                    <div class="card-body" id="profile-actions-admin" style="display: none;">

                    </div>

                    <!-- Adult -->
                    <div class="card-body" id="profile-actions-adult" style="display: none;">
                        <div class="container">
                            <!-- Create Youth Account -->
                            <div class="row">
                                 <div class="col">
                                    <button class="btn-section-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#createYouthSection">
                                        <h5>Create Youth Account</h5>
                                        <div class="toggle-icon">+</div>
                                    </button>
                                    <div class="collapse" id="createYouthSection">
                                    <div class="container py-4"><form class="row justify-content-center align-items-center" method="post" action="/adult/createyouth">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="username" name="username" placeholder="placeholder">
                                            <label for="username">Username</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="placeholder">
                                            <label for="name">First and Last Name</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="pass" name="pass" placeholder="placeholder">
                                            <label for="pass">Password</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="confirm_pass" name="confirm_pass" placeholder="placeholder">
                                            <label for="confirm_pass">Confirm Password</label>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-purple">
                                                Create
                                            </button>
                                        </div>
                                    </form></div>
                                    </div>
                                 </div>
                            </div>

                            <!-- View Youth Accounts -->
                             <div class="row">
                                <div class="col">
                                    <button class="btn-section-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#viewYouthSection">
                                        <h5>View Youths</h5>
                                        <div class="toggle-icon">+</div>
                                    </button>

                                    <div class="collapse" id="viewYouthSection">
                                    <div class="container py-4">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Position</th>
                                                    <th scope="col">Date of Birth</th>
                                                    <th scope="col">Profile Link</th>
                                                </tr>
                                            </thead>
                                            <tbody id="adult-viewyouth-tbody">
                                                <!-- Youth accounts will be populated here -->
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>

                    <!-- Coach -->
                    <div class="card-body" id="profile-actions-coach" style="display: none;">
                        <div class="container">
                            <!-- Promote Account to Adult -->
                            <div class="row">
                                <div class="col">
                                    <button class="btn-section-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#promoteAdultSection">
                                        <h5>Promote Account to Adult</h5>
                                        <div class="toggle-icon">+</div>
                                    </button>

                                    <div class="collapse" id="promoteAdultSection">
                                    <div class="container py-4"><form class="row justify-content-center align-items-center" method="post" action="/promotetoadult">
                                        <div class="col-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" name="promote_adult_id" id="promote_adult_id" placeholder="placeholder">
                                                <label for="promote_adult_id">Email or Username</label>
                                            </div>
                                        </div>
                                    
                                        <div class="col-1">
                                            <button type="submit" class="btn btn-purple">
                                                Promote
                                            </button> 
                                        </div>
                                    </form></div>
                                    </div>
                                </div> 
                            </div>

                            <!-- Invite Youth -->
                            <div class="row">
                                <div class="col">
                                    <button class="btn-section-dropdown" data-bs-toggle="collapse" data-bs-target="#inviteYouthSection">
                                        <h5>Invite Youth to Team</h5>
                                        <div class="toggle-icon">+</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Youth -->
                    <div class="card-body" id="profile-actions-youth" style="display: none;">

                    </div>


                    </div>
                </div>
            </div>
            </div>
        </main>

        <div id="footer"></div>

        <!-- JQuery JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
        <!-- Bootstrap Bundle JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

        <script> 
            $(function(){
            $("#header").load("header.html"); 
            $("#footer").load("footer.html"); 
            });
        </script> 

        <script type="module" src="js/profile.js"></script>
         
    </body>
</html>

