<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="football, youth league, sports">
        <title>Loyal Order of Youth League Athletes</title>
        <link href="./css/main.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <img src="./images/logo.png" href="index.html">
            <h1> Loyal Order of Youth League Athletes </h1>
            <div class="topnav">
                <a href="calendar.html">Calendar</a>
                <a href="team.html">Team</a>
                <a href="profile.html">Profile</a>
                <a href="login.html">Login</a>
                <a href="register.html">Register</a>
                <a href="photos.html">Photos</a>
                <a href="coach.html">Coach Account</a>
                <a href="comms.html">Comms</a>
            </div>
        </header>

        <main>
            <form method="post" action="registeruser">
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="name">First and Last name:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="phone">Phone number:</label><br>
                <input type="text" id="phone" name="phone"><br>
                <label for="pass">Password:</label><br>
                <input type="password" id="pass" name="pass"><br>
                <label for="confirm_pass">Confirm password:</label><br>
                <input type="password" id="confirm_pass" name="confirm_pass"><br><br>
                <input type="submit" value="Submit">
            </form>
        </main>

        <footer>
            <p>
                Loyal Order of Youth League Athletes
                <br>
                contact info
            </p>
        </footer>
    </body>
</html>

