<!DOCTYPE html>
<html lang="en-us">

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/view/css/header_footer.css">
    </head>
    <body>
        <div class="site" style = "min-height: 100dvh; display:grid; grid-template-rows: auto 1fr auto; grid-template-columns: minmax(0, 1fr)">
            <div class="header">
                <img src="../view/images/profile.png" style="float:left; width: 100px; height: 100px">
                <h1 style="position:relative; top: 18px; left: 10px">Loyal Order of Youth League Athletes</h1>
                <p style = "position:relative; left: 10px">team</p>
            </div>
            <main>
                Hey!
            </main>
            <div class="footer" style="background:mediumpurple">
                <h1>Loyal Order of Youth League Athletes</h1>
                <p>contact info</p>
            </footer>
        </div>
    </body>
</html>